@media screen and (min-width: 900px) {
  .container {
    padding-left: 25%;
    
  }
}
@media screen and (max-width: 612px) {
  .container {
    margin-bottom: 50%;
  }
}

.container {
  display: block;
  float: left;
  padding-top: 1.5rem;
  text-align: center;
}
.container p {
  font-size: 1.5rem;
  text-align: justify;
  text-shadow: 1px 0.3px gray;
}
#floated img {
  padding: 1rem;
  float: left;
  width: 30%;
  height: 30%;
}