@media screen {
    html, body {
      min-width: 350px;
  }
  }
  @media screen and (min-width: 900px) {
    div {
      padding-left: 25%;
    }
    agm-map {
      position: absolute;
      top: 35%;
      left: 30%;
      height: 60%;
      width: 80%;
    }
  }
  @media screen and (max-width: 900px) and (min-width:612px) {
    .container {
      max-height: 100px; 
      overflow: visible;
    }
    #ptag {
      font-size-adjust: inherit;
      line-height: 30px;
    }
    agm-map {
      top: 40%;
      width: 100%;
      height: 60%;
      position: absolute;
    }
  }
  @media screen and (max-width: 612px) {
    agm-map {
      position: absolute;
      top: 95%;
      width: 100%;
      height: 60%;
    }
  }
  .container p {
    font-size: 1.5rem;
    text-align: justify;
    text-shadow: 1px 0.3px gray;
  }